.medicine:hover{
  cursor: pointer;
  color: red;
}

mat-list-item:hover mat-divider{
  border-top-color: rgba(255,255,255,1);
}

.expired{
  color: #f44336;
}

.expired  mat-divider{
  border-top-color: rgba(244, 67, 54, 0.25);
}

.expired:hover  mat-divider{
  border-top-color: rgba(244, 67, 54, 1);
}

