<div class="page-container">
  <h1 class="mat-h1">Список лекарств</h1>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Поиск по лекарствам
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput name="name" placeholder="Название/Описание" [(ngModel)]="data">
      </mat-form-field>

      <!--<mat-form-field>
        <input matInput name="description" placeholder="Описание" [(ngModel)]="description">
      </mat-form-field>-->
    </mat-expansion-panel>
  </mat-accordion>


  <!--<mat-action-list *ngIf="medicines.length > 0">-->
    <mat-action-list>
      <ng-container  *ngFor="let medicine of medicines | search:data">
      <mat-list-item
        routerLink="/medicine/{{medicine.id}}"
        [ngClass]="isExpired(medicine) ? 'expired' : ''">
        <h3 matLine>Название: {{medicine.name}} </h3>
        <p matLine>Описание: {{medicine.description || '-'}}</p>
        <mat-divider></mat-divider>
      </mat-list-item>
      </ng-container>
    </mat-action-list>
  <!--</mat-action-list>-->
  <p *ngIf="medicines.length === 0">Лекарств нет.</p>
</div>
