<div class="page-container">
  <h3 class="mat-h3">Регистрация</h3>

  <form class="auth-form">
    <mat-form-field class="example-full-width">
      <input matInput name="email" placeholder="Email" [(ngModel)]="email">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput name="login" placeholder="Логин" [(ngModel)]="login">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="password" name="password" matInput placeholder="Пароль" [(ngModel)]="password">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="register()">Зарегистрироваться</button>
  </form>
</div>



