<div class="page-container">
  <h1 class="mat-h1">Редактировать информацию</h1>

  <form class="medicine-edit-form" *ngIf="medicine">
    <mat-form-field class="example-full-width">
      <input matInput name="name" placeholder="Название" [(ngModel)]="medicine.name" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input name="description" matInput placeholder="Описание" [(ngModel)]="medicine.description">
    </mat-form-field>
    <mat-form-field>
      <input matInput name="datetime" [(ngModel)]="medicine.expirationDate" [matDatepicker]="picker" placeholder="Срок годности">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-selection-list class="list" name="selection" #selection [(ngModel)]="medicine.categories">
      <h2 class="mat-h2 categories-title">Категории:</h2>
      <mat-list-option *ngFor="let category of categories" [value]="category.id">
        {{category.name}}
        <mat-divider></mat-divider>
      </mat-list-option>
    </mat-selection-list>
    <button mat-flat-button color="primary" [disabled]="!medicine.name" (click)="save(medicine)">Сохранить</button>
  </form>
  <div *ngIf="!medicine">
    Лекарство загружается...
  </div>
</div>
