.medicine-detail-form {
  min-width: 150px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.medicine-detail-form button {
  margin-bottom: 15px;
}

.list {
  margin-bottom: 45px;
}

.categories-title {
  /*margin-top: 20px;*/
}

