<div class="page-container">
  <h1 class="mat-h1">Подробная информация о лекарстве</h1>
  <h2 class="mat-h2" *ngIf="!isMedicineValid">Внимание! Истёк срок годности</h2>

  <form class="medicine-detail-form" *ngIf="medicine">
    <mat-form-field class="example-full-width">
      <input [disabled]="true" matInput name="name" placeholder="Название" [(ngModel)]="medicine.name" required>
    </mat-form-field>
    <mat-form-field class="example-full-width" *ngIf="medicine.description">
      <input [disabled]="true" name="description" matInput placeholder="Описание" [(ngModel)]="medicine.description">
    </mat-form-field>
    <mat-form-field *ngIf="medicine.expirationDate">
      <input [disabled]="true" matInput name="datetime" [(ngModel)]="medicine.expirationDate" [matDatepicker]="picker" placeholder="Срок годности">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <!--<mat-divider></mat-divider>-->
    <mat-list class="list" name="selection" *ngIf="medicine.categories.length > 0">
      <h2 class="mat-h2 categories-title">Категории:</h2>
      <mat-list-item *ngFor="let category of medicine.categories">
        {{category.name}}
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
    <button mat-flat-button color="primary" (click)="edit(medicine)">Редактировать</button>
    <button mat-flat-button color="warn" (click)="delete(medicine)">Удалить</button>
  </form>
  <div *ngIf="!medicine">
    Лекарство загружается...
  </div>
</div>
