<h1 mat-dialog-title>Внимание!</h1>
<div class="content" mat-dialog-content>
  <p>Истек срок годности следующих лекарств:</p>
  <mat-list>
    <mat-list-item *ngFor="let medicine of data.expiredMedicines">
      {{medicine.name}}
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="onNoClick()">Понятно</button>
</div>
