<div class="page-container">
  <h1 class="mat-h1">Подробная информация о категории</h1>

  <form class="medicine-detail-form" *ngIf="category">
    <mat-form-field class="example-full-width">
      <input [disabled]="true" matInput name="name" placeholder="Название" [(ngModel)]="category.name">
    </mat-form-field>
    <mat-form-field class="example-full-width" *ngIf="category.description">
      <input [disabled]="true" name="description" matInput placeholder="Описание" [(ngModel)]="category.description">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="edit(category)">Редактировать</button>
    <button mat-flat-button color="warn" (click)="delete(category)">Удалить</button>
  </form>
  <div *ngIf="!category">
    Категория загружается...
  </div>
</div>
