<div class="page-container">
  <h3 class="mat-h3">Авторизация</h3>

  <form class="auth-form">
    <mat-form-field class="example-full-width">
      <input matInput name="email" placeholder="Email" [(ngModel)]="email">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="password" name="password" matInput placeholder="Пароль" [(ngModel)]="password">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="authenticate()">Войти</button>
    <button mat-flat-button color="primary" routerLink="/register">Создать аккаунт</button>
  </form>
</div>


