<!--The content below is only a placeholder and can be replaced.
<h1>Druggist</h1>
<nav>
  <button *ngIf="!userService.isAuthenticated" routerLink="/register">Register</button>
  <button *ngIf="!userService.isAuthenticated" routerLink="/auth">Auth</button>

  <button *ngIf="userService.isAuthenticated" routerLink="/im">Main page</button>
  <button *ngIf="userService.isAuthenticated" routerLink="/medicine-list">Medicine list</button>
  <button *ngIf="userService.isAuthenticated" routerLink="/add-medicine">Add medicine</button>
  <button *ngIf="userService.isAuthenticated" routerLink="/categories-list">Categories list</button>
  <button *ngIf="userService.isAuthenticated" routerLink="/category-add">Add category</button>
  <button *ngIf="userService.isAuthenticated" (click)="userService.logout()">Logout</button>
</nav>-->

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar>Меню</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/im">Главная</a>
      <a mat-list-item routerLink="/medicine-list">Список лекарств</a>
      <a mat-list-item routerLink="/add-medicine">Добавить лекарство</a>
      <a mat-list-item routerLink="/categories-list">Список категорий</a>
      <a mat-list-item routerLink="/category-add">Добавить категорию</a>
      <a mat-list-item (click)="userService.logout()">Выйти</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Druggist</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

