<div class="page-container">
  <h1 class="mat-h1">Список категорий</h1>
  <!--<mat-action-list *ngIf="medicines.length > 0">-->
  <mat-action-list *ngIf="categories.length > 0">
    <mat-list-item *ngFor="let category of categories" routerLink="/category/{{category.id}}">
      <h3 matLine>Название: {{category.name}} </h3>
      <p matLine>Описание: {{category.description || '-'}}</p>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-action-list>
  <!--</mat-action-list>-->
  <p *ngIf="categories.length === 0">Категорий нет.</p>
</div>
