<div class="page-container">
  <h1 class="mat-h1">Добавить категорию</h1>

  <form class="add-medicine-form">
    <mat-form-field class="example-full-width">
      <input matInput name="name" placeholder="Название" [(ngModel)]="category.name" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input name="description" matInput placeholder="Описание" [(ngModel)]="category.description">
    </mat-form-field>
    <button mat-flat-button color="primary" [disabled]="!category.name" (click)="save(category)">Добавить</button>
  </form>
</div>
