<div class="page-container">
  <h1 class="mat-h1">Редактировать информацию</h1>

  <form class="medicine-edit-form" *ngIf="category">
    <mat-form-field class="example-full-width">
      <input matInput name="name" placeholder="Название" [(ngModel)]="category.name" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input name="description" matInput placeholder="Описание" [(ngModel)]="category.description">
    </mat-form-field>
    <button mat-flat-button color="primary" [disabled]="!category.name" (click)="save(category)">Сохранить</button>
  </form>
  <div *ngIf="!category">
    Категория загружается...
  </div>
</div>

